<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="APIManager">
					<Component Id="APIMgrFiles" Guid="15C7D1B5-6B1F-4692-A25C-1250F961CF84" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf" />
						<File Id="APIManager.dll.config" Name="APIManager.dll.config" Source="..\APIManager\bin\Release\APIManager.dll.config" />
						<File Id="APIManager.pdb" Name="APIManager.pdb" Source="..\APIManager\bin\Release\APIManager.pdb" />
						<File Id="APIManager.tlb" Name="APIManager.tlb" Source="..\APIManager\bin\Release\APIManager.tlb" />
						<File Id="ClosedXML.dll" Name="ClosedXML.dll" Source="..\APIManager\bin\Release\ClosedXML.dll" />
						<File Id="ClosedXML.pdb" Name="ClosedXML.pdb" Source="..\APIManager\bin\Release\ClosedXML.pdb" />
						<File Id="DocumentFormat.OpenXml.dll" Name="DocumentFormat.OpenXml.dll" Source="..\packages\DocumentFormat.OpenXml.2.5\lib\DocumentFormat.OpenXml.dll" />
						<File Id="Interop.EA.dll" Name="Interop.EA.dll" Source="..\APIManager\bin\Release\Interop.EA.dll" />
						<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="..\APIManager\bin\Release\Newtonsoft.Json.dll" />
						<File Id="Newtonsoft.Json.Schema.dll" Name="Newtonsoft.Json.Schema.dll" Source="..\APIManager\bin\Release\Newtonsoft.Json.Schema.dll" />
						<File Id="Newtonsoft.Json.Schema.xml" Name="Newtonsoft.Json.Schema.xml" Source="..\APIManager\bin\Release\Newtonsoft.Json.Schema.xml" />
						<File Id="Newtonsoft.Json.xml" Name="Newtonsoft.Json.xml" Source="..\APIManager\bin\Release\Newtonsoft.Json.xml" />
						<!-- Below are all registration entries generated by executing:
									"C:\Program Files (x86)\WiX Toolset v3.11\bin\heat.exe" file APIManager.dll -ag -template fragment -out APIManager.wxs
									We might have to re-do this whenever the plugin contents change (new modules added)...
								-->
						<Class Id="{06344A46-C450-363C-9AD4-421983876002}" Context="InprocServer32" Description="APIManager.SparxEA.EAController" ThreadingModel="both" ForeignServer="mscoree.dll">
							<ProgId Id="APIManager.SparxEA.EAController" Description="APIManager.SparxEA.EAController" />
						</Class>
						<File Id="fil8C03749AE75BF7AE0848FBB7F9C3C77B" KeyPath="yes" Source="..\APIManager\bin\Release\APIManager.dll" />
						<RegistryValue Root="HKCR" Key="CLSID\{06344A46-C450-363C-9AD4-421983876002}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{06344A46-C450-363C-9AD4-421983876002}\InprocServer32\1.0.0.0" Name="Class" Value="APIManager.SparxEA.EAController" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{06344A46-C450-363C-9AD4-421983876002}\InprocServer32\1.0.0.0" Name="Assembly" Value="APIManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{06344A46-C450-363C-9AD4-421983876002}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{06344A46-C450-363C-9AD4-421983876002}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#fil8C03749AE75BF7AE0848FBB7F9C3C77B]" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{06344A46-C450-363C-9AD4-421983876002}\InprocServer32" Name="Class" Value="APIManager.SparxEA.EAController" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{06344A46-C450-363C-9AD4-421983876002}\InprocServer32" Name="Assembly" Value="APIManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{06344A46-C450-363C-9AD4-421983876002}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
						<RegistryValue Root="HKCR" Key="CLSID\{06344A46-C450-363C-9AD4-421983876002}\InprocServer32" Name="CodeBase" Value="file:///[#fil8C03749AE75BF7AE0848FBB7F9C3C77B]" Type="string" Action="write" />
						<!-- END OF GENERATED PART! -->
					</Component>
					<Component Id="APIMgrRegEntries" Guid="2854300A-0115-4F57-8D0A-479D5A6B03A3" UninstallWhenSuperseded="yes">
						<RegistryKey Root="HKLM" Key="SOFTWARE\Wow6432Node\Sparx Systems\EAAddins\APIManager">
							<RegistryValue Type="string" Value="APIManager.SparxEA.EAController" />
						</RegistryKey>
						<Condition> %PROCESSOR_ARCHITECTURE="AMD64" OR %PROCESSOR_ARCHITECTURE="IE64"</Condition>
					</Component>
					<Component Id="APIMgrRegEntries_x86" Guid="CE240611-C890-4B28-B637-A45AFF357F9F" UninstallWhenSuperseded="yes">
						<RegistryKey Root="HKLM" Key="SOFTWARE\Sparx Systems\EAAddins\APIManager">
							<RegistryValue Type="string" Value="APIManager.SparxEA.EAController" />
						</RegistryKey>
						<Condition> %PROCESSOR_ARCHITECTURE="x86"</Condition>
					</Component>
					<Directory Id="RESOURCEDIR" Name="resources">
						<Component Id="APIMgrResources" Guid="A6C9768F-4C41-4249-947C-34D7EA6DEF90" DiskId="1">
							<File Id="CodeListHeader.txt" Name="CodeListHeader.txt" Source="..\APIManager\resources\CodeListHeader.txt" />
							<File Id="EDSN_LDT_MappingTable.txt" Name="EDSN-LDT-MappingTable.txt" Source="..\APIManager\resources\EDSN-LDT-MappingTable.txt" />
							<File Id="EventHandlerConfig.xml" Name="EventHandlerConfig.xml" Source="..\APIManager\resources\EventHandlerConfig.xml" />
							<File Id="EventHandlerConfig.xsd" Name="EventHandlerConfig.xsd" Source="..\APIManager\resources\EventHandlerConfig.xsd" />
							<File Id="GenericodeTemplate.txt" Name="GenericodeTemplate.txt" Source="..\APIManager\resources\GenericodeTemplate.txt" />
							<File Id="GenericodeTemplate.xml" Name="GenericodeTemplate.xml" Source="..\APIManager\resources\GenericodeTemplate.xml" />
							<File Id="GenericodeSetTemplate.txt" Name="GenericodeSetTemplate.txt" Source="..\APIManager\resources\GenericodeSetTemplate.txt" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>