<?xml version="1.0"?>
<?define ProductVersion = "1.1.5.1"?>
<?define ProductUpgradeCode = "F638BED5-79FC-4145-A683-6DCD3464465B"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="API Manager" Language="1033" UpgradeCode="$(var.ProductUpgradeCode)" Version="$(var.ProductVersion)" Manufacturer="Enexis ICT/BaVo Vernieuwing">
		<Package Description="#Description" Comments="Windows Installer Package" InstallerVersion="200" Compressed="yes" />
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />
		<Icon Id="APIMgr.ico" SourceFile="../APIManager/resources/APIManager.ico" />
		<Property Id="ARPPRODUCTICON" Value="APIMgr.ico" />
		<Upgrade Id="$(var.ProductUpgradeCode)">
			<UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" OnlyDetect="yes" Language="1033" Property="NEWPRODUCTFOUND" />
			<UpgradeVersion Minimum="0.1.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Language="1033" Property="UPGRADEFOUND" />
		</Upgrade>
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir" />
		<Feature Id="Complete" Title="API Manager" Description="Enterprise Architect Add-In for CDM Management and Interface Generation" Level="1">
			<ComponentRef Id="APIMgrFiles" />
			<ComponentRef Id="APIMgrResources" />
			<ComponentRef Id="APIMgrRegEntries" />
			<ComponentRef Id="APIMgrRegEntries_x86" />
		</Feature>
		<CustomAction Id="PreventDowngrading" Error="A newer version is already installed, please uninstall before re-attempting this installation." />
		<!-- Sequences -->
		<InstallExecuteSequence>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
			<RemoveExistingProducts After="InstallValidate" />
		</InstallExecuteSequence>
		<InstallUISequence>
			<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
		</InstallUISequence>
		<!--
 			Using the Wix UI library.

			WixUI_Minimal is the most basic of the WixUI stock dialog sets.
 			Its sole dialog combines the welcome and license-agreement 
			dialogs and omits the feature customization dialog. 
			WixUI_Minimal is appropriate when your product has no optional 
			features.
 		-->
		<UIRef Id="WixUI_Minimal" />
	</Product>
</Wix>